<app-nav-bar></app-nav-bar>
<section *ngIf="showBlogInformation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img [src]="imageUrl"
              alt="Login image" class="w-100 vh-80" style="object-fit: cover; object-position: left; margin-left:40px; margin-top:40px">
          </div>
        <div class="col-sm-6 text-black">
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem;">
  
              <h1 class="fw-normal" style="letter-spacing: 1px;font-family: fantasy;">{{blogData.blog.title}}</h1>
              <hr style="margin-bottom: 5px;"/>
              <div class="mb-2"><span style="font-size:13px;">{{blogData.blog.createdAt | date:"MMMM dd, yyyy"}}</span></div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example18">{{blogData.blog.body}}</label>
              </div>
              <div class="d-flex">
                <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-block" type="button" (click)="updateBlog()">Edit Blog</button>
                  </div>
                  <div class="pt-1 mb-4" style="margin-left:20px">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-block" type="button" (click)="openPopup()">Delete Blog</button>
                  </div>
              </div>
  
            </form>
  
          </div>
  
        </div>
      </div>
    </div>
</section>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
