<section class="vh-100 bg-image" style="background-image: url(signup.jpg);">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Have an account?</h2>

                            <form #userForm="ngForm" (ngSubmit)="onSubmit()">

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="email">Email*</label>
                                    <input type="email" name="email" [(ngModel)]="login.email"
                                        class="form-control form-control-lg" #email="ngModel" required
                                        pattern="[A-Za-z0-9\._%+\-]+@[A-Za-z0-9\.\-]+\.[A-Za-z]{2,}" />
                                    <div *ngIf="email.invalid &&(email.touched || email.dirty)" style="color:red">
                                        <div *ngIf="email.hasError('required')" style="color:red;margin-top:10px">
                                            Email is required
                                        </div>
                                        <div *ngIf="email.hasError('pattern')" style="color:red;margin-top:10px">
                                            Email is not valid
                                        </div>
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="password">Password*</label>
                                    <input type="password" name="password" [(ngModel)]="login.password"
                                        class="form-control form-control-lg" #password="ngModel" required />
                                    <div [hidden]="password.valid || password.pristine" style="color:red;margin-top:10px">
                                        Password is required
                                    </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="form-control btn submit px-3"
                                        [disabled]="userForm.invalid">Sign In</button>
                                </div>
                                <div style="color:red;margin-top:10px">{{message}}</div>

                                <p class="text-center text-muted mt-5 mb-0">Not a member? <a routerLink="/signup"
                                        class="fw-bold text-body"><u>Register</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>